
.table-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 12%;
}
.table-h2{
    padding: 15px;
    color: #282a2c;
    font-weight: 500;
    align-self: center;
    margin-bottom: 0;
}
    .btn-edit{
        padding:   0.5em;
        background-color: #009879;
        border: #009879;
        border-radius: 10px;
        color: #ffffff;
        margin-right: 0.5em;
        font-weight: bold;
        text-decoration: none;
       
    }
    .btn-del{
        padding: 0.5em;
        background-color: rgb(163, 26, 26);
        border: red;
        border-radius: 10px;
        color: #ffffff;
        font-weight: bold;
    }
    .styled-table{
        border-collapse: collapse;
        margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
        background-color: #297acb;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #297acb;
}
.styled-table tbody tr.active-row {
    font-weight: 600;
    color: #282a2c;
}